{% extends 'management/templates/app.twig' %}

{% block content %}
    <div class="container-fluid mt-3">
        <!-- Header -->
        <p class="lead"><i class="fas fa-map-pin"></i> Semt Düzenle</p>
        <!-- Header -->
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path_for('management') }}">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Lokasyon</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('management-district') }}">Semtler</a></li>
                <li class="breadcrumb-item active" aria-current="page">Semt Düzenle</li>
            </ol>
        </nav>
        <!-- Breadcrumb -->
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <!-- New -->
            <form id="form-new" action="{{ current_path() }}" method="post" autocomplete="off" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="town_id">İlçe</label>
                        <select class="form-control" id="town_id" name="town_id" required>
                            <option value="">İlçe Seçiniz</option>
                            {% set town = getTable('App\\Models\\TblSetupTown') %}
                            {% if not town is empty %}
                                {% for item in town %}
                                    <option value="{{ item.id }}"{{ table.town_id == item.id ? ' selected' : null }}>{{ getColumn('App\\Models\\TblSetupCity', null, item.city_id, 'title') }} > {{ item.title }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <div class="invalid-feedback">{{ errors.town_id ? errors.town_id | first:'İl seçiniz.' }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Semt</label>
                        <input type="text" class="form-control{{ errors.title ? ' is-invalid':'' }}" id="title" name="title" value="{{ table.title }}" minlength="2" maxlength="50" required>
                        <div class="invalid-feedback">{{ errors.title ? errors.title | first:'Semt giriniz.' }}</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Düzenle</button> <button type="reset" class="btn btn-secondary reset"><i class="fas fa-eraser"></i> Formu Temizle</button>
                {{ csrf.field | raw }}
            </form>
            <!-- New -->
        </div>
    </div>
{% endblock %}

{% block inlineStyles %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/management/district/edit.css">
{% endblock %}

{% block inlineScripts %}
    <script type="text/javascript" src="{{ base_url() }}/assets/js/management/district/edit.js"></script>
{% endblock %}