{% extends 'management/templates/app.twig' %}

{% block content %}
    <div class="container-fluid mt-3">
        <!-- Header -->
        <p class="lead"><i class="fas fa-map-marked-alt"></i> İl Düzenle</p>
        <!-- Header -->
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path_for('management') }}">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Lokasyon</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('management-city') }}">İller</a></li>
                <li class="breadcrumb-item active" aria-current="page">İl Düzenle</li>
            </ol>
        </nav>
        <!-- Breadcrumb -->
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <!-- New -->
            <form id="form-new" action="{{ current_path() }}" method="post" autocomplete="off" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="parent_id">Ülke</label>
                        <select class="form-control" id="country_id" name="country_id" required>
                            <option value="">Ülke Seçiniz</option>
                            {% set country = getTable('App\\Models\\TblSetupCountry') %}
                            {% if not country is empty %}
                                {% for item in country %}
                                    <option value="{{ item.id }}"{{ table.country_id == item.id ? ' selected' : null }}>{{ item.title }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <div class="invalid-feedback">{{ errors.country_id ? errors.country_id | first:'Ülke seçiniz.' }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">İl</label>
                        <input type="text" class="form-control{{ errors.title ? ' is-invalid':'' }}" id="title" name="title" value="{{ table.title }}" minlength="2" maxlength="50" required>
                        <div class="invalid-feedback">{{ errors.title ? errors.title | first:'İl giriniz.' }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="plate_no">Plaka Kodu</label>
                        <input type="text" class="form-control{{ errors.plate_no ? ' is-invalid':'' }}" id="plate_no" name="plate_no" value="{{ table.plate_no }}" maxlength="2" required>
                        <div class="invalid-feedback">{{ errors.plate_no ? errors.plate_no | first:'Plaka kodu giriniz.' }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phone_code">Telefon Kodu</label>
                        <input type="text" class="form-control{{ errors.phone_code ? ' is-invalid':'' }}" id="phone_code" name="phone_code" value="{{ table.phone_code }}" maxlength="6" required>
                        <div class="invalid-feedback">{{ errors.phone_code ? errors.phone_code | first:'Telefon kodunu giriniz.' }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <span class="switch">
                        <input type="checkbox" class="switch" id="switch-normal" name="is_active" {{ table.is_active=='1' ? ' checked' : null }}>
                        <label for="switch-normal">Aktif mi?</label>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Düzenle</button> <button type="reset" class="btn btn-secondary reset"><i class="fas fa-eraser"></i> Formu Temizle</button>
                {{ csrf.field | raw }}
            </form>
            <!-- New -->
        </div>
    </div>
{% endblock %}

{% block inlineStyles %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/library/bs4-switch.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/management/city/edit.css">
{% endblock %}

{% block inlineScripts %}
    <script type="text/javascript" src="{{ base_url() }}/assets/js/management/city/edit.js"></script>
{% endblock %}