{% extends 'site/templates/app.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Şifre Değiştir
                    </div>
                    <div class="card-body">
                        <form action="{{ current_path() }}" method="post" autocomplete="off" class="needs-validation" novalidate>

                            <div class="form-group">
                                <label for="password_old">Mevcut Şifreniz</label>
                                <input type="password" name="password_old" id="password_old" class="form-control{{ errors.password_old ? ' is-invalid':'' }}" minlength="1" required>
                                <div class="invalid-feedback">{{ errors.password_old ? errors.password_old | first:'Mevcut şifre giriniz.' }}</div>
                            </div>

                            <div class="form-group">
                                <label for="password">Yeni Şifreniz</label>
                                <input type="password" name="password" id="password" class="form-control{{ errors.password ? ' is-invalid':'' }}" minlength="1" required>
                                <div class="invalid-feedback">{{ errors.password ? errors.password | first:'Yeni şifre giriniz.' }}</div>
                            </div>

                            <div class="form-group">
                                <label for="password_confirm">Yeni Şifre Tekrar</label>
                                <input type="password" name="password_confirm" id="password_confirm" class="form-control{{ errors.password_confirm ? ' is-invalid':'' }}" minlength="1" required>
                                <div class="invalid-feedback">{{ errors.password_confirm ? errors.password_confirm | first:'Yeni şifreyi tekrar giriniz.' }}</div>
                            </div>

                            <button type="submit" class="btn btn-primary">Şifre Değiştir</button>

                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineStyles %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/site/member/changepassword.css">
{% endblock %}

{% block inlineScripts %}
    <script type="text/javascript" src="{{ base_url() }}/assets/js/site/member/changepassword.js"></script>
{% endblock %}