{% extends 'management/templates/app.twig' %}

{% block content %}
    <div class="container-fluid mt-3">
        <!-- Header -->
        <p class="lead"><i class="fas fa-map-marked"></i> İlçe Ekle</p>
        <!-- Header -->
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path_for('management') }}">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Lokasyon</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('management-town') }}">İlçeler</a></li>
                <li class="breadcrumb-item active" aria-current="page">İlçe Ekle</li>
            </ol>
        </nav>
        <!-- Breadcrumb -->
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <!-- Tab -->
            <nav>
                <div class="nav nav-tabs" id="general-tabs" role="tablist">
                    <a class="nav-item nav-link" id="nav-list-tab" href="{{ path_for('management-town') }}" role="tab" aria-controls="nav-list" aria-selected="true"><i class="fas fa-list-ol"></i> Listele</a>
                    <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="false"><i class="fas fa-plus"></i> Ekle</a>
                </div>
            </nav>
            <div class="tab-content p-3 border border-top-0" id="nav-tabContent">
                <!-- New -->
                <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                    <form id="form-new" action="{{ current_path() }}" method="post" autocomplete="off" class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city_id">İl</label>
                                <select class="form-control" id="city_id" name="city_id" required>
                                    <option value="">İl Seçiniz</option>
                                    {% set city = getTable('App\\Models\\TblSetupCity') %}
                                    {% if not city is empty %}
                                        {% for item in city %}
                                            <option value="{{ item.id }}"{{ table.city_id == item.id ? ' selected' : null }}>{{ item.title }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <div class="invalid-feedback">{{ errors.city_id ? errors.city_id | first:'İl seçiniz.' }}</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">İlçe</label>
                                <input type="text" class="form-control{{ errors.title ? ' is-invalid':'' }}" id="title" name="title" value="{{ old.title }}" minlength="2" maxlength="50" required>
                                <div class="invalid-feedback">{{ errors.title ? errors.title | first:'İlçe giriniz.' }}</div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Kaydet</button> <button type="reset" class="btn btn-secondary reset"><i class="fas fa-eraser"></i> Formu Temizle</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
                <!-- New -->
            </div>
            <!-- Tab -->
        </div>
    </div>
{% endblock %}

{% block inlineStyles %}
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/management/town/new.css">
{% endblock %}

{% block inlineScripts %}
    <script type="text/javascript" src="{{ base_url() }}/assets/js/management/town/new.js"></script>
{% endblock %}